.card {
    background-color: #909090;
    padding: 10px 0;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0.2em gold, 0 0 0.5em red;
}

.card-header {
    border-bottom: 1px solid white;
    padding: 20px 0;
}

.card-header h3 {
    margin: 0;        
}
